# Backend
API/bin/
API/obj/
Application/bin/
Application/obj/
Domain/bin/
Domain/obj/
Persistence/bin/
Persistence/obj/

# Unit Tests
FictitiousSchoolUnitTests/bin/
FictitiousSchoolUnitTests/obj/

# Frontend
fictitious-school-ui/node_modules/
fictitious-school-ui/build/
fictitious-school-ui/.env

# FictitiousSchool Folder
.vs/
bin/
obj/

# General
bin/
obj/
*.user
*.suo
*.cache
*.log
.DS_Store